.UdinraYouTubeAqua {
    background-color: lightcyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid aqua;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeTeal {
    background-color: azure;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid teal;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeChocolate {
    background-color: bisque;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid chocolate;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeCoral {
    background-color: cornsilk;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid coral;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeGolden {
    background-color: khaki;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid darkGoldenRod;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubePink {
    background-color: MistyRose;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Pink;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeLightGreen {
    background-color: HoneyDew;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LimeGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeSeaGreen {
    background-color: LightCyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LightSeaGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeGrey {
    background-color: WhiteSmoke;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Grey;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeTan {
    background-color: Wheat;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Tan;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeWhite {
    background-color: White;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Black;
    padding: 15px;
    margin: 15px;
}
.UdinraYouTubeNone {
}